/* General Reset */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    background-color: black;
    color: white;
}

/* Plotly Div */
#plotly-div {
    width: 100vw;
    height: calc(100 * var(--vh));
}

/* Navigation Arrows */
.nav-arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    font-size: 20px;
    color: white;
    opacity: 0.7;
    text-decoration: none;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-arrow.left {
    left: 10px;
}

.nav-arrow.right {
    right: 10px;
}

/* Home Link */
#home-link {
    position: fixed;
    top: 10px;
    left: 10px;
    background: #111;
    color: gray;
    padding: 5px 10px;
    z-index: 10;
    border-radius: 5px;
    font-size: 24px;
}

/* Menu Container */
#other-menus {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: #111;
    color: gray;
    padding: 5px 10px;
    z-index: 10;
    border-radius: 5px;
}

/* Menu Dropdown */
#menu-options {
    display: none; /* Hidden by default */
    position: absolute;
    bottom: 35px;
    left: 0;
    background: #222;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

/* Menu Options */
#menu-options a {
    display: block;
    color: gray;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 3px;
    white-space: nowrap;
}

#menu-options a:hover {
    color: white;
    background-color: #333;
}

/* Global Link Reset */
a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: white;
}
